// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#696969;//菜单栏字体颜色
$menuActiveText:#409EFF;
$subMenuActiveText:#696969; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #FFFFFF; //菜单栏背景
$menuHover:#DCDCDC;//鼠标移动至一级菜单时颜色

$subMenuBg:#DCDCDC;  //一级菜单 下拉打开二级菜单的颜色
$subMenuHover:#C0C0C0; //鼠标移动至二级菜单时颜色

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
